
$colors: ('none': rgba(0, 0, 0, 0),
    'primary': #b71540,
    'sec': #CE9B44,
    'black': #000000,
    'text': #333333,
    'white': #ffffff,
    'blue': #2980b9,
    'red': #c0392b,
    'green': #27ae60,
    'yellow': #f39c12);

$container_md: 650px;
$container_lg: 1024px;

$sm   : 425.98px;
$md   : $container_md + 29.98px;
$lg   : $container_lg + 29.98px;