.bg {
  &-l1 {
    background: var(--bg1);
  }

  &-l2 {
    background: var(--bg2);
  }

  &-l3 {
    background: var(--bg3);
  }

  @each $key,
  $value in $colors {
    &-#{$key} {
      background-color: var(--color-#{$key});
    }
  }
}