
.link-hover {
  cursor: pointer;
  text-underline-offset: 4px;

  @media(hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.link-hover-wrapper {
  cursor: pointer;

  @media(hover) {
    &:hover {
      .link-hover {
        text-decoration: underline;
      }

    }
  }
}